@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600&display=swap');

:root {
    --gray-color: #e6dede;
    --main-font: 'Source Sans 3', sans-serif;
    --color-main: #3838ff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:  black;
    font-family: var(--main-font);
}

.container {
    width: 100vw;
    height: 100vh;
    /* display: flex;
    justify-content: center; 
    align-items: center; */
    display: grid;
    place-items: center;
}

.login-box {
    width: 70vw;
    height: 80vh;
    background-color: white;
    color: white;
    display: grid;
    grid-template-columns: 3fr 2fr;
    border-radius: 5px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    transition: 0.5s ease;
}

.login-box:hover {
    box-shadow: rgb(91 9 121) 0px 0px 50px 15px;
}

.testimony-box {
    background-image: linear-gradient(to bottom, rgb(59 0 82 / 52%), rgb(9 29 87 / 73%)), url("https://images.unsplash.com/photo-1682726148535-77c00a709ded?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80   ");
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 27px;
    position: relative;
    border-radius: 20px;
    border-bottom-right-radius: 0px;
}

/* .testimony-box:hover h2 {
    opacity: 1;
} */

h2 {

    background: -webkit-linear-gradient( #9833eb, white);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   transition: 0.9s ease;
   opacity: 0;
   transform: translateY(-20%);
   font-size: 35px;
   line-height: 35px;
}

.testimony-box:hover h2 {
    opacity: 1;     
    transform: translateY(0);
}

.author-box {
    position: absolute;
    bottom: 0;
    margin-bottom: 18px;
}

.sign-up-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25px;
    color: black;
}

.sign-up-header {
    margin-bottom: 40px;
}

.sign-up-input-fields {
    margin-bottom: 20px;
}

.sign-up-input-fields input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--gray-color);
    transition: 0.5s ease;
    font-family: var(--main-font);
    outline: 1px solid transparent;
}


.sign-up-input-fields input:focus {
    outline: 1.5px solid #cc38ff
}

.sign-up-buttons {
    width: 100%;
}

.sign-up-buttons button{
    font-family: var(--main-font);
    display: block;
    width: 100%;
    margin-bottom: 17px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}

.sign-up-buttons button:hover {
    /* background-color: red; */
    transform: scale(1.04);
}

.sign-up-buttons a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}

.transparent-button {
    background: transparent;
    border: 1px solid var(--gray-color);
}

.dark-button {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #9833eb 0%, rgb(151 197 242) 100%);
    color: white;
    border: none;
    transition: 0.9s ease;
    filter: none;

}


.dark-button:hover {
    /* background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); */
    filter: drop-shadow(0px 0px 5px rgb(87, 0, 113)) invert(0%);
}

input, button {
    border-radius: 20px;
}

@media screen and (max-width: 1024px) {

    .login-box {
        grid-template-columns: 1fr 1fr;
    }

    
}

@media screen and (max-width: 760px) {

    .login-box {
        height: 75vh;
        grid-template-columns: 1fr;
    }

    .testimony-box {
        display: none;
    }

    .sign-up-form {
        border-top: 15px solid #3838ff;
        padding: 50px;
    }
}